In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkConf

sparkConf = SparkConf()
sparkConf.setMaster("spark://spark-master:7077")
sparkConf.setAppName("Lab7_DF_EX")
sparkConf.set("spark.driver.memory", "2g")
sparkConf.set("spark.executor.cores", "1")
sparkConf.set("spark.driver.cores", "1")

# create the spark session, which is the entry point to Spark SQL engine.
spark = SparkSession.builder.config(conf=sparkConf).getOrCreate()
# load data
# Setup hadoop fs configuration for schema gs://
conf = spark.sparkContext._jsc.hadoopConfiguration()
conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
conf.set("fs.AbstractFileSystem.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")

#  Google Storage File Path
gsc_file_path = 'gs://data_de2022/restaurants_geo.csv'  #  use your gcp bucket name. Also upload sales.csv first
# Create data frame
restaurants_geo_df = spark.read.format("csv").option("header", "true").option("delimiter", ";") \
       .load(gsc_file_path)
restaurants_geo_df.printSchema()
restaurants_geo_df.show(5)

restaurants_df = spark.read \
  .format("bigquery") \
  .load("de2022-362409.labdataset.restaurants")    # project_id.datatset.tablename. Use your project id
restaurants_df.printSchema()
restaurants_df.show(4)

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- type: string (nullable = true)

+---+--------------------+--------------------+-----------+------------+-----------+
| id|                name|             address|       city|       phone|       type|
+---+--------------------+--------------------+-----------+------------+-----------+
|  1|arnie morton's of...|435 s. la cienega...|los angeles|310/246-1501|   american|
|  2|arnie morton's of...|435 s. la cienega...|los angeles|310-246-1501|steakhouses|
|  3|  art's delicatessen| 12224 ventura blvd.|studio city|818/762-1221|   american|
|  4|          art's deli| 12224 ventura blvd.|studio city|818-762-1221|      delis|
|  5|       hotel bel-air|701 stone canyon rd.|    bel air|310/472-1211|californian|
+---+--------------------+--------------------+-----------+------------+-----------+
only showing top 5 rows

root
 |-- rid: long (nullable = true)
 |-- avg_price: double (nullable = true)
 |-- rating: double (nullable = true)
 |-- contact: string (nullable = true)

+---+---------+------+-------------------+
|rid|avg_price|rating|            contact|
+---+---------+------+-------------------+
|167|    37.64|   2.0|sdarragh4m@yale.edu|
|602|    54.41|   2.0|   abatistegp@51.la|
|289|    52.18|  2.25|  cceely80@hibu.com|
|338|    98.83|  2.25|mmcerlaine9d@w3.org|
+---+---------+------+-------------------+
only showing top 4 rows

**Give me the contact details of the cheapest restaurant and the most expensive restaurant in each city of USA**

In [2]:
from pyspark.sql.functions import *
from pyspark.sql import Row, Window

joinExpression = restaurants_geo_df["id"] == restaurants_df['rid']
# default join is the inner or left join
restaurants_merged = restaurants_geo_df.join(restaurants_df, joinExpression,"left").drop("rid")
restaurants_merged.show(10)
# Rank the resturants in terms of the avg price, per each city. Then, select the best and worst product using ranks
windowdesc = Window.partitionBy(col("city")).orderBy(col("avg_price").desc())
windowasc = Window.partitionBy(col("city")).orderBy(col("avg_price").asc())

restaurants_merged_windowed = restaurants_merged.withColumn("rank_desc", dense_rank().over(windowdesc)).withColumn("rank_asc", dense_rank().over(windowasc))

# Get the best and worst performing products
cheap_expensive_city_table = restaurants_merged_windowed.where((col("rank_desc") == 1) | (col("rank_asc") == 1) ).select("*")
cheap_expensive_city_table.show(10)

cheap_expensive_city_table2 = cheap_expensive_city_table.withColumn("price_category", when(col("rank_desc") == 1, "Most Expensive")
                                                          .otherwise("Cheapest")).select("city", "price_category", "avg_price", "name", "contact", "phone")
cheap_expensive_city_table2.show(10)

+---+--------------------+--------------------+------------+------------+-------------+---------+------+--------------------+
| id|                name|             address|        city|       phone|         type|avg_price|rating|             contact|
+---+--------------------+--------------------+------------+------------+-------------+---------+------+--------------------+
|  1|arnie morton's of...|435 s. la cienega...| los angeles|310/246-1501|     american|    58.98|  2.49|lbuckeridge0@indi...|
|  2|arnie morton's of...|435 s. la cienega...| los angeles|310-246-1501|  steakhouses|    60.32|  3.69|wstrickland1@goog...|
|  3|  art's delicatessen| 12224 ventura blvd.| studio city|818/762-1221|     american|    61.94|  2.57|smiroy2@delicious...|
|  4|          art's deli| 12224 ventura blvd.| studio city|818-762-1221|        delis|    77.15|  4.34|radamoli3@google....|
|  5|       hotel bel-air|701 stone canyon rd.|     bel air|310/472-1211|  californian|    36.39|  3.78|  cwiersma4@etsy.com|
|  6|       bel-air hotel|701 stone canyon rd.|     bel air|310-472-1211|  californian|    36.03|  3.23|fleteve5@wundergr...|
|  7|          cafe bizou| 14016 ventura blvd.|sherman oaks|818/788-3536|       french|    31.24|  3.59|bkoschek6@spiegel.de|
|  8|          cafe bizou| 14016 ventura blvd.|sherman oaks|818-788-3536|french bistro|    67.21|  3.69|   llansly7@sohu.com|
|  9|           campanile| 624 s. la brea ave.| los angeles|213/938-1447|     american|    37.06|  3.03|bmatton8@edublogs...|
| 10|           campanile| 624 s. la brea ave.| los angeles|213-938-1447|  californian|    51.98|  2.15|     bdinis9@fda.gov|
+---+--------------------+--------------------+------------+------------+-------------+---------+------+--------------------+
only showing top 10 rows

+---+--------------------+--------------------+-------------+------------+----------------+---------+------+--------------------+---------+--------+
| id|                name|             address|         city|       phone|            type|avg_price|rating|             contact|rank_desc|rank_asc|
+---+--------------------+--------------------+-------------+------------+----------------+---------+------+--------------------+---------+--------+
|509|french quarter fo...|923 peachtree st....|      atlanta|404/875-2489|        southern|    -2.24|  1.62|cvearnalse4@samsu...|      118|       1|
|804|          frijoleros|1031 peachtree st...|      atlanta|404-892-8226|         tex-mex|   102.05|  4.57|atravissmb@upenn.edu|        1|     118|
|  6|       bel-air hotel|701 stone canyon rd.|      bel air|310-472-1211|     californian|    36.03|  3.23|fleteve5@wundergr...|        2|       1|
|  5|       hotel bel-air|701 stone canyon rd.|      bel air|310/472-1211|     californian|    36.39|  3.78|  cwiersma4@etsy.com|        1|       2|
|654|brighton coffee shop|   9600 brighton way|beverly hills|310-276-7732|    coffee shops|    17.55|  4.35|zjirucai5@virgini...|        8|       1|
|649|      belvedere  the|9882 little santa...|beverly hills|310-788-2306|pacific new wave|    77.31|  2.93|   akeani0@webmd.com|        1|       8|
|709|               taiko|11677 san vicente...|    brentwood|310-207-7782|    noodle shops|    41.96|  3.29|   hcainejo@about.me|        1|       1|
|749|peter luger steak...|        178 broadway|     brooklyn|718-387-7400|     steakhouses|    25.27|   2.8|pvandaleks@sina.c...|        6|       1|
|742|           moustache|   405 atlantic ave.|     brooklyn|718-852-5555|  middle eastern|    89.78|  3.78|dlentonkl@netscap...|        1|       6|
|699|         poquito mas|  2635 w. olive ave.|      burbank|818-563-2252|         mexican|    43.53|  3.54|gawtyje@huffingto...|        1|       1|
+---+--------------------+--------------------+-------------+------------+----------------+---------+------+--------------------+---------+--------+
only showing top 10 rows

+-------------+--------------+---------+--------------------+--------------------+------------+
|         city|price_category|avg_price|                name|             contact|       phone|
+-------------+--------------+---------+--------------------+--------------------+------------+
|      atlanta|      Cheapest|    -2.24|french quarter fo...|cvearnalse4@samsu...|404/875-2489|
|      atlanta|Most Expensive|   102.05|          frijoleros|atravissmb@upenn.edu|404-892-8226|
|      bel air|      Cheapest|    36.03|       bel-air hotel|fleteve5@wundergr...|310-472-1211|
|      bel air|Most Expensive|    36.39|       hotel bel-air|  cwiersma4@etsy.com|310/472-1211|
|beverly hills|      Cheapest|    17.55|brighton coffee shop|zjirucai5@virgini...|310-276-7732|
|beverly hills|Most Expensive|    77.31|      belvedere  the|   akeani0@webmd.com|310-788-2306|
|    brentwood|Most Expensive|    41.96|               taiko|   hcainejo@about.me|310-207-7782|
|     brooklyn|      Cheapest|    25.27|peter luger steak...|pvandaleks@sina.c...|718-387-7400|
|     brooklyn|Most Expensive|    89.78|           moustache|dlentonkl@netscap...|718-852-5555|
|      burbank|Most Expensive|    43.53|         poquito mas|gawtyje@huffingto...|818-563-2252|
+-------------+--------------+---------+--------------------+--------------------+------------+
only showing top 10 rows

A useful solution for a common need
https://stackoverflow.com/questions/34409875/how-to-get-other-columns-when-using-spark-dataframe-groupby

In [7]:
# Use the Cloud Storage bucket for temporary BigQuery export data used by the connector.
bucket = "de_jads_temp"
spark.conf.set('temporaryGcsBucket', bucket)
# Saving the data to BigQuery
cheap_expensive_city_table2.write.format('bigquery') \
  .option('table', 'de2022-362409.labdataset.resturants_selection') \
  .mode("overwrite") \
  .save()

In [9]:
# Stop the spark context
spark.stop()